body{
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    margin-top: 12rem;
    padding: 0;
    line-height: 1.6;
}

#main-container {
    max-width: 900px;
    margin: 0 auto; 
}

h3{
    font-size: 1.5em;
    color: #333;
    text-align: center;
    margin-bottom: 3em;
}